.text-style-controls {
  i[data-prop="font-size"] {
    padding: 0;
  }
}

.tags-menu {
  text-align: center;

  .buttons {
    text-align: left;
  }
}

#main_tag_menu {
  background-color: #fff;
  position: sticky;
  top: 76px;
  z-index: 99;
}

#publication-content{
  li{
    margin-bottom: 5px;
    line-height: 1.4;
  }
}


.publication__item, .tags-menu {
  .fa {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: background-color .2s ease-in-out;

    &:hover, .active {
      background-color: #ededed;
    }
  }
}

.editor-icon.non-active{
  opacity: .7;
}

.publication__item {

  & > fieldset{
    min-height: 110px;
  }

  &.selected {
    opacity: .7;
  }

  h2, p {
    font-size: inherit;
  }

  position: relative;

  .tags-menu {
    margin-top: 10px;

    & > .col-md-9 {
      width: 75%;
    }

    .tag-controls {
      width: 25%;
    }

  }

  .tags-controls-container {
    font-size: 20px !important;
  }

  .public-item-extras {
    position: absolute;
    left: 100%;
    top: 0;
    width: 50px;
    height: 100%;
    text-align: center;

    .move {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .fa {
        padding: 3px;
      }
    }
  }

  .publication__item-content {
    //margin-bottom: 20px;
  }

}

#publication_body {
  margin-top: 50px;
}