.public-author-preview {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;

  .mask {
    padding: 5px 10px;
    box-sizing: border-box;
  }
}

.profile-public-img {
  background-size: cover;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

.is-erotic-container {
  &:after {
    position: absolute;
    content: '';
    top: 5px;
    right: 5px;
    background: url("/assets/uploads/icons/18+.png") center no-repeat;
    background-size: contain;
    z-index: 1;
    width: 40px;
    height: 40px;
  }
}

.card-body {
  position: relative;

  img.img-18 {
    position: absolute;
    top: 5px;
    right: 0;
    max-width: 30px;
  }
}

.author-comment {
  font-size: smaller;
  margin-left: 5px;
  line-height: 1;
  padding: 0 5px 2px;
  background-color: dodgerblue;
  text-transform: lowercase;
  border-radius: 5px;
  color: #FFF;
}

.public-item-preview, .subcategory-card {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.is-deleted {
  opacity: .25 !important;
}

.publication-status-checkbox {
  left: 0;
  top: 0;
  padding: 0;

  width: 100%;
  z-index: 2;

  .top-labels {
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .25);
    //

    .col-md-6 {
      padding: 0;
    }
  }

  .form-check-label {
    width: 100%;
    display: block;

    .form-check-input {
      float: none;
      margin-left: 0;
    }
  }
}

.comment-form {
  textarea {
    min-height: 100px;
    max-height: 100px;
  }

  .uploader-container {
    margin: 10px auto;
  }
}

#comments, .similar-publications {
  hr:last-child {
    display: none !important;
  }
}

.replies {
  padding-left: 50px;
}

.reply-form {
  margin-top: 20px;
}

.remove-comment {
  position: absolute;
  right: 15px;
  top: 15px;
}

.custom-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 15px;
  z-index: 9999;
  text-align: center;
  color: #FFF;
  //flex-wrap: wrap;
  overflow: auto;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  img {

    @media screen and (max-width: 599px) {
      max-width: 100%;
    }

    &.static {
      position: static !important;
    }

    &.draggable {
      max-width: inherit;
      max-height: inherit;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  p.lead.clickable {
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    color: #FFF !important;
    padding: 0 2.5% 1.5rem;
    color: rgba(255, 255, 255, .25);
    margin: 0;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, .8));

    &:before {
      display: block;
      content: "";
      border-top: 1px solid rgba(255, 255, 255, .25);
      margin-bottom: 1.5rem;
    }
  }

  .custom-modal-img {
    //transition: all .5s ease-in-out;
    max-width: calc(100vw - 50px);
    max-height: 95vh;
  }


  transition: all 1.5s ease-in-out;

  &.disappearing {
    opacity: 0;

    .custom-modal-img {
      transition: all .5s ease-in-out;
      transform: translateY(-50px);
      opacity: 0;
    }

    &-down {
      opacity: 0;

      .custom-modal-img {
        transition: all .5s ease-in-out;
        transform: translateY(50px);
        opacity: 0;
      }
    }
  }

}

.custom-modal-wrapper {
  position: relative;

  .fa-search-plus, .fa-search-minus {
    position: fixed;
    top: 20px;
    font-size: 36px;
    cursor: pointer;
    left: calc(50% - 16px);
    z-index: 99999;

    @media screen and (max-width: 999px) {
      display: none;
    }

  }
}


.fa.fa-heart-o.disabled {
  pointer-events: none;
  opacity: .35;
}


.custom-modal-img-preloader {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  z-index: 99999;
  color: #FFF;
}

.modal-control {
  position: absolute;
  color: #FFF;
  cursor: pointer;
  font-size: 36px;
}

.prev-next {
  top: 0;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &.fa-chevron-left {
    left: 0;
  }

  &.fa-chevron-right {
    right: 0;
  }

  @media screen and (max-width: 599px) {
    transform: scale(.4);
    //display: none;
  }
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.none-moderated .image-preview {
  position: relative;
  pointer-events: none;
  cursor: not-allowed;

  .bg-image {
    filter: blur(5px);
  }


  &:before, &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    content: "";
    filter: blur(5px);
    z-index: 1;
  }

  &:after {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .5);
    content: "На модерации";
  }
}

img.is-erotic {
  filter: blur(3px);
}

@media screen and (max-width: 768px) {
  .publication-counters {
    width: 50%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 500px) {
      width: 75%;
      margin-left: 25%;
      margin-bottom: 15px;
    }

    .row {
      width: 100%;
    }

    .col-md-4 {
      width: 33.3%;
    }
  }
}


@media screen and (max-width: 768px) {

  .comment-form {
    margin-bottom: 0 !important;

    img.user-circle-img {
      margin: 0 auto 10px;
      display: block;
    }
  }

  .comments-list {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .comment-item-container {
    padding-left: 0 !important;
    padding-right: 0 !important;

    & > .d-flex {
      display: block !important;
    }

    img[alt="avatar"] {
      margin-bottom: 10px;
    }

    p.lead {
      font-size: 16px;
    }
  }
  .replies {
    padding-left: 30px;
  }
}

ul.publications-list {
  padding: 10px 0 15px 45px;
  font-size: smaller;
  list-style-type: none;
  line-height: 1.8;
  text-decoration: underline;
}

.cat-tree > ul > li {

}

.video-item {
  position: relative;
  display: block;
  cursor: pointer;

  &:hover:before {
    transform: scale(1.1);
  }
}

.hashtag-item {
  overflow: hidden;
  height: 20px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  line-height: 1;

  .delimiter {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #fff;
    margin: 0 5px;
    line-height: 1;
  }
}

.video-item:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/uploads/icons/yt.png') center no-repeat;
  background-size: auto;
  transition: all 0.5s ease-in-out;
}

.fancybox-close-small {
  outline: none !important;
}


.iframe-description {
  color: #000;
  font-size: 14px;
  padding: 15px 15px 0;
  box-sizing: border-box;
  margin: 0;
  font-weight: 600;
}

.video-iframe-container {
  margin: 0;
  padding: 15px;
}

.preview-title {
  &.mobile-preview-title {
    display: none;
  }

  @media screen and (max-width: 768px) {
    &.mobile-preview-title {
      display: block;
    }
    &.desktop-preview-title {
      display: none;
    }
  }
}

@media screen and (max-width: 576px) {

  .fancybox-slide .video-iframe-container {
    padding: 0;
  }

  .iframe-description {
    margin-bottom: 15px;
  }
}