.search-helper {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  background-color: rgba(255, 255, 255, .95);
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  z-index: 5;
  border-radius: 5px;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    //justify-content: space-between;
  }

  img.search-img{
    max-width: 50px;
    margin-right: 10px;
    transition: all .5s ease-in-out;
    position: relative;

    &:hover{
      transform: scale(6);
      z-index: 1000;
    }
  }

  li {
    &.selected, &:hover {
      background-color: #ededed;
    }

  }
}
