.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

.container-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex: 1 0 auto;
}

body {
  &::-webkit-scrollbar {
    height: 11px;
    width: 11px;

    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(47, 46, 46, 0.2);
    border: 3px solid #fbf6f6;
    border-radius: 8px;
  }

  scrollbar-width: thin;
}

.container-body > header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0 4px 8px 0 rgba(34, 60, 80, .08);
  -moz-box-shadow: 0 4px 8px 0 rgba(34, 60, 80, .08);
  box-shadow: 0 4px 8px 0 rgba(34, 60, 80, .08);
}

.search-form-group #button-search {
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex: 1 0 auto;
}

.pagination.justify-content-center {
  margin-top: 25px;
}

mark {
  padding: 0;
  background-color: rgba(255, 243, 205, .7);
  display: inline-block;
}

.fa-spinner {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#today-informer {
  font-size: smaller;
  margin-right: 30px;
  text-align: right;
  @media screen and (max-width: 1199px) and (min-width: 1000px) {
    margin-right: 10px;
    font-size: 12px;
  }
}


footer {
  flex: 0 0 auto;
}

aside {
  @media screen and (max-width: 991px) {
    position: fixed;
    left: 100%;
    opacity: 0;
    transition: all .5s ease-in-out;
    background-color: #fff;
    overflow: auto;
    z-index: 2;
    &.visible {
      left: 0;
      opacity: 1;
    }
  }
}

.current-category {
  font-weight: 700;
  color: rgb(220, 53, 69);
  text-decoration: underline;
  pointer-events: none;
}

.categories__item-container {
  flex: 0 0 auto !important;
  width: 50% !important;
}

#today-informer {
  .fa {
    color: #0d6efd;
  }
}

@import "../../vendors/font-awesome/font-awesome.min.css";

@import "components/nav";
@import "components/uploader";
@import "components/preloader";
@import "components/profile";
@import "components/edit-publication";
@import "components/publication";
@import "components/search-form";
@import "components/likes";
@import "components/lift";
@import "components/manager";
@import "components/custom-date";
@import "components/slider";